[Unit]
Description=/root/novabot/scripts/run_novabot.sh start
ConditionPathExists=/root/novabot/scripts/run_novabot.sh
After=novabot_ota_launch.service

[Service]
Type=forking
ExecStart=/root/novabot/scripts/run_novabot.sh start 
ExecStop=/root/novabot/scripts/run_novabot.sh  stop 
Restart=on-failure
RestartSec=10s
TimeoutSec=60
StandardOutput=null
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target